<launch>


    <!--Neptus addr: Address of computer running netpus -->
    <!--bridge addr: Address of computer running this node -->
    <!--bridge port: Port neptus sends data to -->
  

  <arg name="neptus_addr" default="127.0.0.1"/>
  <arg name="bridge_addr" default="127.0.0.1"/>
  <arg name="bridge_port" default="6002"/>
  <arg name="node_name" default="imc_bridge"/>
  <arg name="imc_system_name" default="imc_ros_bridge"/>

  <!-- 4=imc_ros_bridge, 5=sam, 6=lolo -->
  <arg name="imc_id" default="4"/>
  <arg name="imc_src" default="$(arg imc_id)"/>

  <node pkg="imc_ros_bridge" type="bridge_node" name="$(arg node_name)" output="screen" ns="imc">
    <param name="neptus_addr" value="$(arg neptus_addr)"/>
    <param name="bridge_addr" value="$(arg bridge_addr)"/>
    <param name="bridge_port" value="$(arg bridge_port)" type="str"/>
    <param name="system_name" value="$(arg imc_system_name)"/>
    <param name="imc_id" value="$(arg imc_id)"/>
    <param name="imc_src" value="$(arg imc_src)"/>
  </node>

</launch>
